<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-6 d-flex flex-align-center">
        <h3 class="dashboard-section-title text-center text-left-md w-100">{{ title }}
            {% if subtitle is defined %}<small>{{ subtitle }}</small>{% endif %}
        </h3>
    </div>
    <div id="page-header-actions" class="cell-md-6 d-flex flex-justify-center flex-justify-end-md flex-align-end">

    </div>
</div>