<div class="dialog border-none" data-role="dialog" id="show-eliminar-modal">
    <div class="dialog-title bg-red fg-white">¿Confirmar eliminación?</div>
    <div class="dialog-content">
        ¿Está seguro que desea eliminar el elemento? Esta operación no podrá ser revertida.
    </div>
    <div class="dialog-actions">
        <form id="show-eliminar-form" class="modal-delete-form" method="post">
            <button type="button" class="button js-dialog-close">Cancelar</button>
            <button id="show-eliminar-form-submit" class="button bg-red fg-white js-dialog-close" type="submit">Eliminar</button>
        </form>
    </div>
</div>
