{% extends '_themes/metroui/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="cell-md-6">
            <div data-role="panel"
                 data-title-caption="Panel title"
                 data-title-icon="<span class='mif-chart-line icon'></span>"
                 data-collapsible="true">
{#                {{ render_chart(chart) }}#}
            </div>
        </div>
    </div>

{% endblock %}